h1 {
    font-family: "Poppins", sans-serif;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
}



.shadow {
    box-shadow: 0 4px 20px rgba(111, 110, 110, 0.663) !important;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
