
#home {
    margin-top: 10%;
    margin-bottom: 100px;
    padding-top: 50px; 
}

#btn:hover {
    background-color: black;
    color:white;
}

.zoom-img {
    animation: zoomInOut 4s infinite ease-in-out;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.text-animate {
    animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
    0% {
        color: rgb(246, 38, 38);
    }
    25% {
        color: rgb(0, 81, 255);
    }
    50% {
        color: rgb(8, 255, 8);
    }
    75% {
        color: rgb(243, 189, 90);
    }
    100% {
        color: rgb(240, 8, 240);
    }
}

/* Typing Effect */
.text-slider {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #ffc107;
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 21ch;
    }
}

@keyframes blink-caret {
    from, to {
        border-right-color: transparent;
    }
    50% {
        border-right-color: #ffc107;
    }
}


@media (max-width: 575.98px) {
    #home {
        margin-top: 10%;
    }
}
