
.contact h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 20px;
}

.contact-form {
    width: 100%;
    max-width: 400px;
    border: 1px solid red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(255, 0, 0);
    
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: start;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 12px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid rgb(155, 152, 152);
    border-radius: 5px;
    background-color:  rgb(245, 236, 220);
}
.form-group input:hover,
.form-group textarea:hover{
    border: 1px solid red;
}
.form-group textarea {
    resize: vertical;
}

.form-group button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid red;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: red;
    color: white;
}
#contact_id{
    margin-left: 125px;
}
.contact{
    margin-bottom: 40px;
}

@media (max-width: 412px) {
    #contact_id{
        margin-left: -20px;
    }
    .contact{
        padding: 10px 50px;
        margin-right: 30px;
    }
    .contact p{
        margin-left: 10px;
        margin-right: -50px;
    }
}