.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
    background-color: rgb(24, 24, 60);
    color: white;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.links ul li a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

.links ul {
    list-style-type: none;
    display: flex;
}

.links ul li a:hover {
    color: aqua;
}

.lists {
    margin-left: 0; /* Adjust as needed */
    background-color: bisque;
    padding: 10px 10px;
    margin-top: 10px;
    display: none; /* Hide by default */
    margin-left: 200px;
    margin-right: 10px;
    
}

.lists.open {
    display: block; /* Show when open class is added */
    
}

.lists ul {
    list-style-type: none;
    
}

.lists ul a {
    text-decoration: none;
    color: black;
    
}

.lists ul li {
    margin-bottom: 10px;
}

.lists ul li a:hover {
    color: red;
}

.toggle-btn {
    display: block; /* Show by default */
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (min-width: 412px) {
    .links {
        display: flex; /* Show links */
        
    }
    
    .lists {
        display: none; /* Hide lists section */

    }
    
    .toggle-btn {
        display: none; /* Hide toggle button */
    }
}

@media (max-width: 412px) {
    .links {
        display: none; /* Hide links on small screens */
    }
    
    .toggle-btn {
        display: block; /* Show toggle button */
    }
    
}
