.container{
    color: black;
    background-color: azure;
    height: 200px;
    width: 200px;
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
    box-shadow:  0 4px 8px 0 rgba(227, 7, 7, 0.992), 0 6px 20px 0 rgba(243, 3, 3, 0.19)
    /* padding: 0px 30px; */
}
.container img{
    width: 40px;
    height: 40px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 180px;
    
}
#skill_head{
    margin-left: 125px;
}
@media (max-width: 412px) {
    #skill_head{
        margin-left: 30px;
        margin-top: 250px;
    }
    .skills{
        padding: 10px 10px;
        
    }

}